#navbarSection {
  max-width: 1440px;
  margin: 0 auto;
  .navContents {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    .logo {
      font-size: 22px;
    }
    .navMenus {
      ul {
        display: flex;
        align-items: flex-start;
        gap: 48px;
        li {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid black;
        }
      }
    }
    .Icons {
      display: flex;
      gap: 24px;
      align-items: center;
      .searchBar {
        form {
          padding: 7px 12px 7px 12px;
          background: var(--Secondary, #f5f5f5);
          display: flex;
          gap: 34px;
          input {
            border: none;
            outline: none;
            background: var(--Secondary, #f5f5f5);
            color: var(--Text2, #000);
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
          }
          svg {
            width: 24px;
            height: 24px;
            fill: black;
          }
        }
      }
      .Shopping {
        gap: 16px;
        display: flex;
        .wishListIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 26px;
            height: 26px;
          }
        }
        .basketIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
}
